<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who am I?</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p style="text-align: justify">
            I'm a computer science PhD candidate at Florida International University, working at the Bioinformatics Research Group (<a href="http://biorg.cis.fiu.edu.html">BioRG</a>). I work on discovering molecular biomarkers from multi-omics cancer data under some deep learning frameworks. Also, applying various feature selection and data mining algorithms like concrete autoencoder, SVM-RFE on the gene expression data. 
        </p>
            <p style="text-align: justify">Currently, on my second year, I have cleared PhD qualifying and candidacy exams and published several research articles in peer-reviewed journals and conferences.</p>
        
        <p>Check out my <b><a href="#">Resume</a></b> [last updated on May 16, 2020]</p>
          <p><b>Email</b>: mmmau009[at]fiu.edu | aamcse[at]gmail.com</p>
          <p><b>Address</b>: 10777 SW 4TH ST, Miami, FL 33174</p>
        </ul>
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlighted Projects</h3>
		    <ul>
    			<li>
            Migrated a monolithic Heroku Ruby on Rails API to multiple Scala
            services hosted on AWS. Delivered ahead of schedule, projected to save $18k/quarter.
    			</li>
          <li>
            Presented research and proof-of-concept to convince team to move from Hadoop MR to Spark; reduced nodes by 60% and ran 5-8x faster.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    			</li>
		    </ul>
	    </div>

    </div>
    <p><b>Skills</b> : Python | C/C++ | Java | Keras | TensorFlow | Scikit learn | DeepLearning4Java | R-Studio | SPSS | Minitab | SQL | github</p>
  </div>
</section>
