<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who am I?</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p style="text-align: justify">
            I'm a computer science PhD candidate at Florida International University, working at the Bioinformatics Research Group (<a href="http://biorg.cis.fiu.edu.html">BioRG</a>). I work on discovering molecular biomarkers from multi-omics cancer data under some deep learning frameworks. Also, applying various feature selection and data mining algorithms like concrete autoencoder, SVM-RFE on the gene expression data. 
        </p>
            <p style="text-align: justify">Currently, on my second year, I have cleared PhD qualifying and candidacy exams and published several research articles in peer-reviewed journals and conferences.</p>
        
        <p>Check out my <b><a href="img/Resume-AAMAMUN-May16.pdf">Resume</a></b> [last updated on May 16, 2020]</p>
          <p><b>Email</b>: mmamu009[at]fiu.edu | aamcse[at]gmail.com</p>
          <p><b>Address</b>: 10777 SW 4TH ST, Miami, FL 33174</p>
        </ul>
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlighted Projects</h3>
		    <ul>
          <li>Feature selection from Bigdata for classification/clustering problem. Language/Tools: Python, Tensorflow, Keras</li>
          <li>OS File System Implementation. Language/Tools: C</li>
          <li>Multithreaded Programming and Synchronization. Language/Tools: C</li>
          <li>Semi-Supervised Real-time Tweet Spam Filtering Using Spark-Streaming. Language/Tools: Scala, Hadoop, Spark,
Spark-Stream, python</li>
          <li>Discovering Functional Dependencies in Hidden Data using Approximate Formal Concept. Language/Tools: Python</li>
		    </ul>
	    </div>

    </div>
    <p><b>Skills</b> : Python | C/C++ | Java | Keras | TensorFlow | Scikit learn | DeepLearning4Java | R-Studio | SPSS | Minitab | SQL | github</p>
  </div>
</section>
